@using app.Models
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model NationsViewModel
@{
    ViewData["Title"] = "DevOps by Examples";
}
<h2>@ViewData["Title"]</h2>

@if (Model.ShowTimeFeatureOn)
{
    <p>Hello from our View Template!</p>
    <p>Now, it's @DateTime.Now.ToString("R").</p>
}
else
{
    <p>Hello from our View Template!</p>
}

<form asp-controller="Home" asp-action="Index" method="post">
    <label title="Country" />
    <input name="searchString" type="text" />
    <input title="Search" type="submit" />
</form>

@if (Model.Nations != null)
{
    <p/>
    <table border="1" cellpadding="3">
        <thead>
            <tr>
@if (Model.ExtendedCountriesDisplayFeatureOn)
{
                    <td><strong>Alpha Code (2)</strong></td>
                    <td><strong>Alpha Code (3)</strong></td>
                    <td><strong>English name</strong></td>
                    <td><strong>Numeric Code</strong></td>
}
else
{
                    <td><strong>ISO Code</strong></td>
                    <td><strong>English name</strong></td>
}
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Nations)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Alpha2)
                    </td>
@if (Model.ExtendedCountriesDisplayFeatureOn)
{
                    <td>
                        @Html.DisplayFor(modelItem => item.Alpha3)
                    </td>
}
                    <td>
                        @Html.DisplayFor(modelItem => item.EnglishName)
                    </td>
@if (Model.ExtendedCountriesDisplayFeatureOn)
{
                    <td>
                        @Html.DisplayFor(modelItem => item.Numeric)
                    </td>
}
                </tr>
            }
        </tbody>
    </table>
}

@{
    var fileVersion = app.Utils.GetCustomAttribute<System.Reflection.AssemblyFileVersionAttribute>();
    var infoVersion = app.Utils.GetCustomAttribute<System.Reflection.AssemblyInformationalVersionAttribute>();
    string versionDisplay = $"{fileVersion.Version} ({infoVersion.InformationalVersion})";
}

<p><i>You are running version</i> @versionDisplay.</p>
